.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    flex-shrink: 1;
}

.innerContainer{
    border: 1px solid gray;
}

.block, p#precaptureText{
    display: flex;
    flex-direction: column;
    margin: 25px;    
}

p#precaptureText{
    padding-left: 15px; 
}

.row{
    display: flex;
    flex-direction: row;
    margin: 5px 15px;
    position: relative;
}

.label{
    width: 300px;
    margin: 5px 0px 5px 20px;
}

input {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100px;
    right: 0px;
}

.check{
    color: green;
    margin: 5px;
    padding-left: 60px; 
}

.last{
    color: red;
    font-size: 12px;
}

.forButton{
    position: relative;
    height: 40px;
    background-color: lightgray;
    border-radius: 8px;
    margin-top: 10px;
    justify-content: center;
}

button{
    width: 200px;
    height: 30px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    border-radius: 8px;
    color: white;
    background-color: #3ec73d;
}

button:hover{
    background-color: #09970a;
}

@media (min-width: 1025px){
    .container{
        width: 35%;
        max-width: 600px;
    }
}

@media (min-width: 769px){
    .container{
        width: 50%;
        min-width: 600px;
    }
}

@media (max-width: 768px){
    .container{
        width: 100%;
    }
}
